# coding: utf-8
%h1 Показатели подблока "#{@subblock.name}" блока "#{@subblock.block.name}" шаблона "#{@subblock.block.direction.name}" 

.content
  %table.data
    %tr
      %th Название
      %th Вес
      %th Единица измерения
      %th Описание
    - for f in @subblock.factors
      %tr
        - if f.articles.size>0
          %td= link_to f.factor_description.short_name, :action => :show_articles, :id => f
        - else
          %td= f.factor_description.short_name
        - fw = f.factor_weights.last
        %td= fw.weight
        %td= f.unit.name
        %td= fw.description
%br	
.actions
  = link_to 'Добавить показатель', :controller => 'factors', :action => 'new_factor', :subblock_id => @subblock
  %br  
  = link_to 'Изменить веса', :controller => 'factors', :action => 'edit_weights', :block_id => @block