# coding: utf-8
%h2 Показатели направления "#{@direction.name}" за #{@period.name}
- d_id = @values[0].division_id  
.content
  %table.data
    %tr
      %th Отделение
      - for v in @values.order(:division_id, :factor_id)
        - if v.division_id == d_id
          %th= link_to v.factor.factor_description.short_name, :action => 'show_factor_chart', :period_id => @period, :direction_id => @direction, :factor_id => v.factor_id

    - for d in @values.select('distinct(indexes.division_id)')
      %tr
        - if @prev_values
          %td= link_to d.division.name, :action => 'show_value_changes', :period_id => @period, :direction_id => @direction, :division_id => d.division_id
        - else
          %td= d.division.name
        - for v in @values.where(:division_id => d.division_id).order(:factor_id)
          %td= v.value

        
%br
.actions
  = link_to 'Индексы', :action => 'show_indexes', :direction_id => @direction, :period_id => @period            
          
