# coding: utf-8
%h1 Описание блока "#{@block.name}" 

.content
  %table.data
    %tr
      %th Полное название:
      %td= @block.name
    %tr
      %th Сокращенное название:
      %td= @block.short_name
    %tr
      %th Вес:
      %td= @block.weight
%br      
.actions
  = link_to 'Редактировать', edit_block_path(@block)
  -#= link_to 'Удалить', block_path(@block), :method => :delete, :confirm => "Удалить описание блока?"